@model Intranet.UI.Models.ApplicationUser
<section>
    <div class="info-interna">
        <form class="formulario-base" method="post" action="@Url.Action("Editar", "MeuPerfil")" enctype="multipart/form-data">
            @Html.HiddenFor(u => u.Id)
            <div class="container">
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Nome)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Nome)
                        @Html.ValidationMessageFor(m => m.Nome)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.EmailParticular)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.EmailParticular)
                        @Html.ValidationMessageFor(m => m.EmailParticular)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Avatar)
                    </div>
                    <div class="col l9 m8 s12">
                        @if (!string.IsNullOrEmpty(Model.Avatar))
                        {
                            <div class="col l3 m4 s12">
                                <img src="~/Content/Colaboradores/@Model.Avatar" alt="" class="fotomeuperfil">
                            </div>
                        }
                        <div class="col l9 m8 s12">
                            <input type="file" name="Foto" id="Foto" value="" />
                            @Html.ValidationMessageFor(m => m.Avatar)
                        </div>
                    </div>
                </div>
                <div style="display:none" class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.IdEmpreendimento)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.DropDownListFor(m => m.IdEmpreendimento, new SelectList(ViewBag.Empreendimentos, "Id", "Nome"), "Selecione")
                        @Html.ValidationMessageFor(m => m.IdEmpreendimento)
                    </div>
                </div>
                @*<div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Sexo)
                    </div>
                    <div class="col l9 m8 s12">
                        <div class="list-check radio">
                            <div class="col l4 m12 s12">
                                <div class="item">
                                    <label for="sexM">
                                        <input type="radio" value="Masculino" name="sexo" id="sexM"> Masculino
                                    </label>
                                </div>
                            </div>
                            <div class="col l4 m12 s12">
                                <div class="item">
                                    <label for="sexF">
                                        <input type="radio" value="Feminino" name="sexo" id="sexF"> Feminino
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.DataNascimento)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.DataNascimento, new { type = "text", @class = "data" })
                        @Html.ValidationMessageFor(m => m.DataNascimento)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.LocalNascimento)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.LocalNascimento)
                        @Html.ValidationMessageFor(m => m.LocalNascimento)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Telefone)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Telefone)
                        @Html.ValidationMessageFor(m => m.Telefone)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.TelefoneResidencial)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.TelefoneResidencial)
                        @Html.ValidationMessageFor(m => m.TelefoneResidencial)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.TelefoneEmergencia)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.TelefoneEmergencia)
                        @Html.ValidationMessageFor(m => m.TelefoneEmergencia)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.TelefoneComercial)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.TelefoneComercial)
                        @Html.ValidationMessageFor(m => m.TelefoneComercial)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Curriculo)
                    </div>
                    <div class="col l9 m8 s12">
                        @if (!string.IsNullOrEmpty(Model.Curriculo))
                        {
                            <div class="legenda">
                                <strong>Atual:</strong> <a target="_blank" href="~/Content/Colaboradores/@Model.Curriculo">@Model.Curriculo</a>
                            </div>
                        }
                        <input type="file" name="arquivo" id="arquivo">
                        <p>
                            <small>Apenas arquivos com a extensão .PDF com no máximo 30Mb</small>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Skype)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Skype)
                        @Html.ValidationMessageFor(m => m.Skype)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Linkedin)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Linkedin)
                        @Html.ValidationMessageFor(m => m.Linkedin)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.TipoSangue)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.TipoSangue)
                        @Html.ValidationMessageFor(m => m.TipoSangue)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Alergias)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Alergias)
                        @Html.ValidationMessageFor(m => m.Alergias)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Hobbies)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Hobbies)
                        @Html.ValidationMessageFor(m => m.Hobbies)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Interesses)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Interesses)
                        @Html.ValidationMessageFor(m => m.Interesses)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.AtividadesVoluntarias)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.AtividadesVoluntarias)
                        @Html.ValidationMessageFor(m => m.AtividadesVoluntarias)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Esporte)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Esporte)
                        @Html.ValidationMessageFor(m => m.Esporte)
                    </div>
                </div>
                <div class="list-botoes">
                    <button class="btn-form red" type="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>Salvar
                    </button>
                    <button class="btn-form" type="reset">
                        <i class="fa fa-times" aria-hidden="true"></i>Cancelar
                    </button>
                    <a href="@Url.Action("Senha", "MeuPerfil")"><div class="btn-form"><i class="fa fa-floppy-o" aria-hidden="true"></i>Editar Senha</div></a>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts
{
    <script>
        //$("input[type='radio'][value='@@Model.Sexo']").prop("checked", true)

        $('#Telefone,#TelefoneResidencial,#TelefoneEmergencia,#TelefoneComercial')
            .mask("(99) 9999-9999?9")
            .on('focusout', function (event) {
                var target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                var phone = target.value.replace(/\D/g, '');
                var element = $(target);
                element.unmask();
                if (phone.length > 10) {
                    element.mask("(99) 99999-999?9");
                } else {
                    element.mask("(99) 9999-9999?9");
                }
            });
    </script>
}