@using Intranet.UI.Util
@using Microsoft.AspNet.Identity
@model Intranet.Data.Entities.Contato
<section class="content-falecomrh">
    <p>@ViewBag.Texto</p>
    <div class="list-fale">
        <div class="item @if (Model.Finalizado){<text>finalizado</text>}" style="margin-bottom: 0; position: relative; z-index: 2;">
            <div class="container">
                <div class="row">
                    <div class="col m1 s12">
                        @if (!string.IsNullOrEmpty(Model.Usuario.Avatar) && !Model.Anonimo)
                        {
                            <img src="~/Content/Colaboradores/@Model.Usuario.Avatar" alt="@Model.Usuario.Nome">
                        }
                        else
                        {
                            <img src="~/Content/Colaboradores/padrao.jpg" alt="@Model.Usuario.Nome">
                        }
                    </div>
                    <div class="col m5 s12">
                        <p class="title">@Model.Assunto</p>
                        @if (!Model.Anonimo)
                        {
                            <p class="subtit">@Model.Usuario.Nome</p>
                        }
                        else if (Model.Anonimo)
                        {
                            <p class="subtit">Anonimo</p>
                        }
                    </div>
                    <div class="col m2 s12">
                        @if (Model.Finalizado)
                        {
                            <p class="status">finalizado</p>
                        }
                        else
                        {
                            <p class="status">aberto</p>
                        }
                    </div>
                    <div class="col m3 s12">
                        <p class="ticket">ID TICKET <strong>#@Model.Ticket</strong></p>
                        <p class="criado">Criado em @Model.DataCriacao.ToShortDateString(), às @Model.DataCriacao.ToShortTimeString()</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-interna">
        <form class="formulario-base" action="@Url.Action("Anexos", "Contato", new {tipo=Model.Tipo})" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Tipo)
            <div class="container">
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Tipo)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.HiddenFor(m => m.Tipo)
                        <p class="red">@Html.EnumDisplayNameFor(Model.Tipo)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.IdEmpreendimento)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.HiddenFor(m => m.IdEmpreendimento)
                        <p class="red">@Model.Empreendimento.Nome</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Assunto)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Assunto, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Assunto)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Mensagem)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextAreaFor(m => m.Mensagem, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Mensagem)
                    </div>
                </div>
                <!-- Anexos -->
                <div class="row">
                    <div class="col l3 m4 s12">
                        <label for="comu-anexos">
                            Anexos:
                        </label>
                    </div>
                    <div class="col l9 m8 s12">
                        <div class="row">
                            <div class="col l9 m8 s12">
                                <input type="file" name="arquivos" id="arquivos" value="" multiple="multiple" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.txt,.odt,.rtf,.xls,.xlsx,.ai,.eps" />
                            </div>
                            <div class="col l3 m4 s12">
                                <button type="submit" class="btn-form">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>Adicionar Arquivo
                                </button>
                            </div>
                        </div>
                        @if (Model.Anexos.Any())
                        {
                            <div class="list-anexos">
                                <div class="row">
                                    <div class="col s12">
                                        <p>
                                            <strong>LISTA DE ANEXOS</strong>
                                        </p>
                                    </div>
                                </div>
                                @foreach (var anexo in Model.Anexos)
                                {
                                    <div class="row">
                                        <div class="col m6 s12">
                                            <a href="@Url.Action("Download", "Contato", new { tipo=anexo.Contato.Tipo,  arquivo = anexo.Arquivo })">@anexo.Arquivo</a>
                                        </div>
                                        <div class="col m2 s12">
                                            <p>@Html.TamanhoAnexo(anexo.Arquivo)</p>
                                        </div>
                                        <div class="col m3 s12">
                                            <p>@anexo.Data.ToShortDateString() - @anexo.Data.ToShortTimeString()</p>
                                        </div>
                                        <div class="col m1 s12">
                                            @if (anexo.IdUsuario == User.Identity.GetUserId() && !Model.Finalizado)
                                            {
                                                <div class="btn-delete fa fa-times btnExcluir" data-link="@Url.Action("ExcluirAnexo", "Contato", new { tipo = Model.Tipo, id = anexo.Id })"></div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                @if (!Model.Finalizado && User.IsInRole(ViewBag.Tipo + "-Admin"))
                {
                    <div class="list-botoes">
                        <a href="@Url.Action("Finalizar", "Contato", new {tipo=Model.Tipo, id=Model.Id})">
                            <div class="btn-form red">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>Finalizar
                            </div>
                        </a>
                    </div>
                }
            </div>
        </form>
    </div>
    <div class="info-interna">
        <h4>Interações</h4>
        <div class="list-interacoes">
            @foreach (var mensagem in Model.Interacoes)
            {
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col l2 s3">
                                @if (!string.IsNullOrEmpty(mensagem.Usuario.Avatar) && !mensagem.Contato.Anonimo)
                                {
                                    <img src="~/Content/Colaboradores/@mensagem.Usuario.Avatar" alt="@mensagem.Usuario.Nome" style="width: 60px; height: 60px;">
                                }
                                else
                                {
                                    <img src="~/Content/Colaboradores/padrao.jpg" alt="@Model.Usuario.Nome" style="width: 60px; height: 60px;">
                                }
                            </div>
                            <div class="col l10 s9 border">
                                <div class="col l3 s12">
                                    @if (!mensagem.Contato.Anonimo)
                                    {
                                        <p class="subtit">@mensagem.Contato.Usuario.Nome</p>
                                    }
                                    else if (mensagem.Contato.Anonimo)
                                    {
                                        <p class="subtit">Anonimo</p>
                                    }
                                    @if (!mensagem.Contato.Anonimo)
                                    {
                                        <p class="subtit">@mensagem.Usuario.Cargo</p>
                                    }
                                </div>
                                <div class="col l9 s12">
                                    <p class="date">@mensagem.Data.ToString("dd 'de' MMMM 'de' yyyy '-' HH:mm")</p>
                                    <p>@mensagem.Mensagem</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (!Model.Finalizado)
        {
            <form class="formulario-base">
                <div class="container">
                    <div class="row">
                        <div class="col l3 m4 s12">
                            <label for="mensagem">
                                Mensagem:
                            </label>
                        </div>
                        <div class="col l9 m8 s12">
                            <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="list-botoes">
                        <div class="btn-form red" id="btnMensagem">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>enviar
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</section>
@section scripts{
    <script>
        $("#btnMensagem").click(function() {
            var msg = $("#mensagem").val();

            if (msg === "") {
                swal(
                    'Opss!',
                    'Preencha a mensagem',
                    'error'
                );
            } else {

                $.post("@Url.Action("Mensagem", "Contato", new {tipo = Model.Tipo, id = Model.Id})",
                    {mensagem: msg},
                    function(data) {
                        swal(
                            'Ok!',
                            'Mensagem enviada com sucesso',
                            'success'
                        ).then(function() {
                            location.reload();
                        });
                    }).fail(function() {
                    swal(
                        'Opss!',
                        'Ocorreu um erro ao enviar a mensagem',
                        'error'
                    );
                });
            }
        });

        $("#arquivos").change(function () {
            var fileExtension = [
                'jpg', 'jpeg', 'png', 'gif', 'pdf', 'doc', 'docx', 'txt', 'odt', 'rtf', 'xls', 'xlsx', 'ai', 'eps'
            ];
            var arquivos = $("#arquivos")[0].files;
            $.map(arquivos, function (val) {
                if ($.inArray(val.name.split('.').pop().toLowerCase(), fileExtension) == -1) {
                    swal('Oops...', 'São permitidos apenas os formatos: ' + fileExtension.join(', '), 'error');
                    $("#arquivos").val('');
                }
            });
        });
    </script>
}