@model $safeprojectname$.Models.LoginVm
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!doctype html>
<html xml:lang="pt-br" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login -  Partage | Intranet</title>
    <meta name="author" content="EDUARDO MONTEIRO" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/styles/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css" rel="stylesheet" />
    <style>
        .validation-summary-errors { text-align: center; margin-bottom: 35px; size: 16px; }
            .validation-summary-errors ul li { color: #d40a25; }
    </style>
</head>

<body>

    <div class="content-login">
        <div class="info">
            <img src="~/images/logo.png" alt="">
            <div class="box-login">
                <div class="txttop">Login</div>
                <form action="@Url.Action("Index", "Login")" method="post">
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
                    <p>Preencha seus dados de acesso</p>
                    @Html.ValidationSummary(true)
                    <label for="login-email">Email do usuário</label>
                    <input type="email" name="email" placeholder="Digite seu e-mail" id="login-email" required="required">
                    <label for="login-senha">Senha</label>
                    <input type="password" name="password" placeholder="Digite sua senha" id="login-senha" required="required">
                    <label for="LembrarMe" class="labelcheck">
                        @Html.CheckBoxFor(m => m.LembrarMe) Lembre-se
                    </label>
                    <input type="submit" class="buttoncolor" value="acessar o sistema">
                </form>
                <div class="esqueciminhasenha">
                    Esqueci minha senha
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="~/libs/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>

<script>

    @if (TempData["Message"]!=null)
    {
        <text>
            swal(
                'Ok!',
                '@TempData["Message"]',
                'success'
            );
        </text>
    }

    $(".esqueciminhasenha").click(function () {

        swal({
            title: 'Recuperar sua senha',
            input: 'email',
            text: 'Digite no campo abaixo seu e-mail',
            showCancelButton: true,
            confirmButtonColor: '#ed1b36',
            cancelButtonColor: '#cfcfcf',
            confirmButtonText: 'Enviar',
            cancelButtonText: 'Cancelar',
            inputPlaceholder: 'Digite o seu e-mail para recuperar sua senha',
            showLoaderOnConfirm: true,
            allowOutsideClick: false
        }).then(function (email) {
            $.post("@Url.Action("ForgotPassword", "Login")", {email:email}, function (data) {
                swal(
                    'Ok!',
                    'Se o email estiver correto, você receberá um link para recuperara a senha.',
                    'success'
                );
            }).fail(function () {
                swal(
                    'Ok!',
                    'Se o email estiver correto, você receberá um link para recuperara a senha.',
                    'success'
                );
            });
        });

    });
</script>