@model $safeprojectname$.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Recuperação de Senha";
    Layout = null;
}
<!doctype html>
<html xml:lang="pt-br" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Recuperação de Senha -  Partage | Intranet</title>
    <meta name="author" content="EDUARDO MONTEIRO" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/styles/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css" rel="stylesheet" />
    <style>
        .validation-summary-errors { text-align: center; margin-bottom: 35px; size: 16px; }
            .validation-summary-errors ul li { color: #d40a25; }
    </style>
    <style>
        span.field-validation-error span { color: #d40a25; }
    </style>
</head>

<body>

    <div class="content-login">
        <div class="info">
            <img src="~/images/logo.png" alt="">
            <div class="box-login">
                <div class="txttop">Recuperação de Senha</div>
@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.Code)

                <p>Altere sua senha:</p>
                    @Html.ValidationSummary(true)

                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Digite seu e-mail" })
                    @Html.ValidationMessageFor(m => m.Email)

                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, new { placeholder = "Digite sua senha", type = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)

                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirme sua senha", type = "Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)

                    <input type="submit" class="buttoncolor" value="Alterar senha">
}
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="~/libs/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>