@using Intranet.Data.Entities
@using Intranet.Data.Enums
@using Intranet.UI.Models
@{
    var usuario = (Usuario)ViewBag.Usuario;
}
<!doctype html>
<html xml:lang="pt-br" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="ncache" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Partage | Intranet</title>
    <meta name="author" content="EDUARDO MONTEIRO" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css" />
    <link rel="stylesheet" href="~/styles/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        span.field-validation-error span { color: #d40a25; }
        .legenda { margin-bottom: 10px; }
        footer .redes .fa:hover.fa-linkedin { color: #2196F3; }
        .fa-linkedin:before {content: '\f0e1'}

    </style>
    @RenderSection("style", false)
</head>
<body>
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65911185-1', 'auto');
        ga('send', 'pageview');

    </script>
    <div class="wrapper">
        <aside class="wrap-side">
            <div class="btn-submenu"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt=""></a>
            </div>

            <div class="menu">
                <ul class="list-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")"><div class="item"><i class="fa fa-home" aria-hidden="true"></i>Início</div></a>
                    </li>
                    <li>
                        <div class="item submenu"><div class="fa"><img src="~/images/ico-institucional-menu.png" alt=""></div>Intitucional</div>
                        <div class="sub-itens">
                            <a href="@Url.Action("Index", "Institucional", new {tipo = TipoInstitucional.Conheca})">Conheça a Holding</a>
                            <a href="@Url.Action("Index", "Institucional", new {tipo = TipoInstitucional.Estrutura})">Estrutura Organizacional</a>
                            <a href="@Url.Action("Diretoria", "Institucional")">Diretoria Partage</a>
                            <a href="@Url.Action("Gestores", "Institucional")">Gestores</a>
                        </div>
                    </li>
                    @if (User.IsInRole("EspacoRh") || User.IsInRole("EducacaoContinuada") || User.IsInRole("Colaboradores") || User.IsInRole("LinksUteis") || User.IsInRole("FaleComRh"))
                    {
                        <li>
                            <div class="item submenu">
                                <i class="fa fa-users" aria-hidden="true"></i>Recursos Humanos
                            </div>
                            <div class="sub-itens">
                                @if (User.IsInRole("EspacoRh"))
                                {
                                    <a href="@Url.Action("Index", "Documentos", new {tipo = TipoDocumento.EspacoRh})">Espaço RH</a>
                                }
                                @if (User.IsInRole("EducacaoContinuada"))
                                {
                                    <a href="@Url.Action("Index", "EducacaoContinuada")">Educação Continuada</a>
                                }
                                @if (User.IsInRole("Colaboradores"))
                                {
                                    <a href="@Url.Action("Index", "Colaboradores")">Colaboradores</a>
                                }
                                @if (User.IsInRole("LinksUteis"))
                                {
                                    <a href="@Url.Action("Index", "LinksUteis")">Links Úteis</a>
                                }
                                @if (User.IsInRole("FaleComRh"))
                                {
                                    <a href="@Url.Action("Index", "Contato", new {tipo = TipoContato.FaleComRh})">Fale com o RH</a>
                                }
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("InstrumentosContratuais"))
                    {
                        <li>
                            <div class="item submenu"><i class="fa fa-suitcase" aria-hidden="true"></i>Contratos</div>
                            <div class="sub-itens">
                                @if (User.IsInRole("InstrumentosContratuais"))
                                {
                                    <a href="@Url.Action("Index", "Documentos", new {tipo = TipoDocumento.InstrumentosContratuais})">Instrumentos Contratuais</a>
                                }
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("ManualMarca") || User.IsInRole("Albuns") || User.IsInRole("Apresentacoes"))
                    {
                        <li>
                            <div class="item submenu"><i class="fa fa-file-image-o" aria-hidden="true"></i>Marketing</div>
                            <div class="sub-itens">
                                @if (User.IsInRole("ManualMarca"))
                                {
                                    <a href="@Url.Action("Index", "Documentos", new {tipo = TipoDocumento.ManualMarca})">Manual da Marca</a>
                                }
                                @if (User.IsInRole("Albuns"))
                                {
                                    <a href="@Url.Action("Index", "Albuns")">Fotos dos Shoppings</a>
                                }
                                @if (User.IsInRole("Apresentacoes"))
                                {
                                    <a href="@Url.Action("Index", "Documentos", new {tipo = TipoDocumento.Apresentacoes})">Apresentações</a>
                                }
                            </div>
                        </li>
                    }
                    <li>
                        <div class="item submenu"><i class="fa fa-desktop" aria-hidden="true"></i> Gestão e Sistemas</div>
                        <div class="sub-itens">
                            @if (User.IsInRole("NormasProcedimentos"))
                            {
                                <a href="@Url.Action("Index", "Documentos", new {tipo = TipoDocumento.NormasProcedimentos})">Normas e Procedimentos</a>
                            }
                            @*<a href="/#" target="_blank">ERP Holding</a>
                            <a href="/#" target="_blank">ERP Shoppings</a>*@
                            <a href="http://www.solid.com.br/" target="_blank">Viagens</a>
                            <a href="https://powerbi.microsoft.com/pt-br/" target="_blank">BI</a>
                            <a href="https://partage.mereo.com" target="_blank">Gestão de Metas e Desempenho</a>
                            <a href="https://wiseitcsc.partage.com.br:8443/CCenterWeb/" target="_blank">Wise IT</a>
                            <a href="https://terabyte.freshdesk.com/support/login" target="_blank">Help Desk</a>
                            <a href="http://189.39.31.130:8249/" target="_blank">Portal RH</a>
                        </div>
                    </li>
                    @if (User.IsInRole("Comunicados"))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Comunicados")">
                                <div class="item">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>Comunicados
                                </div>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Noticias"))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Noticias")">
                                <div class="item">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>Notícias
                                </div>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Calendario"))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Calendario")">
                                <div class="item">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>Calendário
                                </div>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Ouvidoria"))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Contato", new {tipo = TipoContato.Ouvidoria})">
                                <div class="item">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>Ouvidoria
                                </div>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Perfis") || User.IsInRole("Usuarios"))
                    {
                        <li>
                            <div class="item submenu"><i class="fa fa-cog" aria-hidden="true"></i>Gestão do Sistema</div>
                            <div class="sub-itens">
                                @if (User.IsInRole("Perfis"))
                                {
                                    <a href="@Url.Action("Index", "Perfis")">Gerenciar Perfis</a>
                                }
                                @if (User.IsInRole("Usuarios"))
                                {
                                    <a href="@Url.Action("Index", "Colaboradores")">Gerenciar Usuários</a>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </aside>
        <div class="content-wrapper">
            <header>
                <div class="search">
                    <form action="@Url.Action("Index", "Busca")" method="get">
                        <input type="text" name="Busca" id="Busca" placeholder="Digite aqui sua pesquisa" id="field-search">
                    </form>
                </div>
                <div class="box">
                    <div class="info-ouvidoria">
                        <a href="@Url.Action("Index", "Contato", new {tipo = TipoContato.Ouvidoria})">
                            <img src="~/images/icon-ouvidoria.png" alt="">
                            <p>Ouvidoria</p>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="perfil">
                        @if (!string.IsNullOrEmpty(usuario.Avatar))
                        {
                            <img src="~/Content/Colaboradores/@usuario.Avatar" alt="@usuario.Nome" >
                        }
                        else
                        {
                            <img src="~/Content/Colaboradores/padrao.jpg" alt="@usuario.Nome">
                        }
                        <div class="arrow">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="box-userperfil">
                        <p class="title">@usuario.Nome</p>
                        <p class="subtit">@usuario.Empreendimento.Nome <small>@usuario.Cargo</small></p>
                        <a href="@Url.Action("Index", "MeuPerfil")"><button class="buttoncolor">meu perfil</button></a>
                        <a href="@Url.Action("LogOff", "Login")"><button class="buttoncolor">sair</button></a>
                    </div>
                </div>
            </header>

            <div class="content-inside">
                @if (ViewBag.Area != "Home")
            {
                    <div class="top-inside">
                        <a href="javascript:history.back();" class="btn-back"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        <div class="info">
                            <p class="title">@ViewBag.Title</p>
                            <div class="breadcrumb">
                                <a href="@Url.Action("Index", "Home")">Home</a>
                                @*if (!string.IsNullOrEmpty(ViewBag.Area))
                                    {
                                        <a href="@Url.Action("Index", "Home")">@ViewBag.Area</a>
                                    }*@
                                <span>@ViewBag.Title</span>
                            </div>
                        </div>
                    </div>
                }

                @RenderBody()
            </div>
            <footer>
                <div class="redes">
                    <a href="https://www.linkedin.com/company-beta/5239857" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/partageshopping" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="http://www.partageshopping.com.br/" target="_blank"><img src="~/images/parage-pequeno.jpg" style="position: relative;top: 10px;padding: 0 10px;" class="brand-hover"/></a>
                    @*<a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-flickr" aria-hidden="true"></i></a>*@
                </div>
                @*<a href="http://www.am4.com.br" target="_blank"><img src="~/images/am4.png" alt="" class="am4"></a>*@
            </footer>
        </div>
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="~/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
<script type="text/javascript" src="~/js/main.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/validate_ptbr.js"></script>
<script src="~/libs/moment/moment-with-locales.js"></script>
<script src="~/libs/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
<script>
    jQuery(function () {
        datepickerBR.init();
        $("input.data").mask("99/99/9999");
    });
</script>
@RenderSection("scripts", false)