@model IEnumerable<Intranet.UI.Models.ApplicationGroup>
@if (!Model.Any())
{
    <p>Nenhum perfil encontrado.</p>
}
else
{
    <p>Total de @Model.Count() perfis</p>
    <div class="list-links">
        @foreach (var perfil in Model)
        {
            <div class="item">
                <div class="iconlink">
                    <span>@perfil.Name.Substring(0, 2).ToUpper()</span>
                </div>
                <div class="info">
                    <p class="title">@perfil.Name</p>
                    <p class="subtit">Total de @perfil.ApplicationUsers.Count usuário(s) nesse perfil</p>
                    <p>Criado em @perfil.Data.ToShortDateString()</p>
                </div>
                @if (User.IsInRole("Perfis-Admin"))
                {
                    <div class="edits">
                        <div class="icon-edits"></div>
                        <div class="subedit">
                            <div class="btnEditar" data-link="@Url.Action("Editar", "Perfis", new {perfil.Id})">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar
                            </div>
                            <div class="btnExcluir" data-link="@Url.Action("Excluir", "Perfis", new {perfil.Id})">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>Excluir
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div class="btn-carregarmais">
        <img src="~/images/btn-carregarmais.png" alt="">
    </div>
}