@model Intranet.Data.Entities.AlbumFoto
<section class="content-internas">
    <div class="info-interna">
        <form class="formulario-base" method="post" action="@Url.Action("NovaFoto", "Albuns")" enctype="multipart/form-data">
            @Html.HiddenFor(m => m.IdAlbum)
            <div class="container">
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Imagem)
                    </div>
                    <div class="col l9 m8 s12">
                        <input type="file" name="Fotos" id="Fotos" value="" multiple="multiple" accept=".jpg,.jpeg,.png,.gif,.ai,.eps" />
                        @Html.ValidationMessageFor(m => m.Imagem)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Legenda)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Legenda)
                        @Html.ValidationMessageFor(m => m.Legenda)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Credito)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Credito)
                        @Html.ValidationMessageFor(m => m.Credito)
                    </div>
                </div>
                <div class="list-botoes">
                    <button class="btn-form red" type="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>Salvar
                    </button>
                    <button class="btn-form" type="reset">
                        <i class="fa fa-times" aria-hidden="true"></i>Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts{
    <script>
        $("#Fotos").change(function () {
            var fileExtension = [
                'jpg', 'jpeg', 'png', 'gif', 'ai', 'eps'
            ];
            var arquivos = $("#Fotos")[0].files;
            $.map(arquivos, function (val) {
                if ($.inArray(val.name.split('.').pop().toLowerCase(), fileExtension) == -1) {
                    swal('Oops...', 'São permitidos apenas os formatos: ' + fileExtension.join(', '), 'error');
                    $("#Fotos").val('');
                }
            });
        });
    </script>
}