@section style
{
    <link rel="stylesheet" href="~/libs/dhtmlxScheduler/dhtmlxscheduler.css">
    <style type="text/css">
        .dhx_cal_event.event_psp div, .dhx_cal_event_line.event_psp { background-color: #2f1bed !important; border-color: #2f1bed !important; }
        .dhx_cal_event.event_pssg div, .dhx_cal_event_line.event_pssg { background-color: #ea2755 !important; border-color: #ea2755 !important; }
        .dhx_cal_event.event_pscg div, .dhx_cal_event_line.event_pscg { background-color: #ed6f1b !important; border-color: #ed6f1b !important; }
        .dhx_cal_event.event_pnsn div, .dhx_cal_event_line.event_pnsn { background-color: #edd21b !important; border-color: #edd21b !important; }
        .dhx_cal_event.event_psrg div, .dhx_cal_event_line.event_psrg { background-color: #cd1bed !important; border-color: #cd1bed !important; }
        .dhx_cal_event.event_psb div, .dhx_cal_event_line.event_psb { background-color: #5bed1b !important; border-color: #5bed1b !important; }
        .dhx_cal_event.event_ph div, .dhx_cal_event_line.event_ph { background-color: #ff00a3 !important; border-color: #ff00a3 !important; }
        .dhx_cal_event.event_tds div, .dhx_cal_event_line.event_tds { background-color: #000 !important; border-color: #000 !important; }
    </style>
}
@if (User.IsInRole("Calendario-Admin"))
{
    <a href="#" id="btnNovo"><div class="buttoncolor btn-newlink"><i class="fa fa-plus-square" aria-hidden="true"></i>Novo Evento</div></a>
}
<!-- Conteudo -->
<section class="content-internas">
    <div class="filters">
        <div class="container">
            <div class="row">
                <div class="col m2 s12">
                    <label for="">Empreendimento</label>
                    @Html.DropDownList("Empreendimento", new SelectList(ViewBag.Empreendimentos, "Id", "Nome", Request["Empreendimento"]), "Selecione")
                </div>
                <div class="col m1 s12">
                    <label for="">&nbsp</label>
                    <button id="btnBusca">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col m9 s12">
                    <label for="">Legenda por cores</label>
                    <div class="col m4 s12">
                        <div class="ilustracao-calendario">
                            <p class="azul">partage shopping parauapebas</p>
                            <p class="vermelho">Partage Shopping São Gonçalo</p>
                            <p class="laranja">Partage Shopping Campina grande</p>
                        </div>
                    </div>
                    <div class="col m4 s12">
                        <div class="ilustracao-calendario">
                            <p class="amarelo">Partage Norte Shopping Natal</p>
                            <p class="roxo">Partage Shopping Rio grande</p>
                            <p class="verde">Partage Shopping Betim</p>
                        </div>
                    </div>
                    <div class="col m4 s12">
                        <div class="ilustracao-calendario">
                            <p class="azulclaro">Partage Shopping Mossoró</p>
                            <p class="rosa">Partage Holding</p>
                            <p class="Preto">Todos</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="info-interna" style="height: 600px;">
        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
            </div>
            <div class="dhx_cal_header">
            </div>
            <div class="dhx_cal_data">
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript" src="~/libs/dhtmlxScheduler/dhtmlxscheduler.js"></script>
    <script type="text/javascript" charset="utf-8">

        scheduler.config.xml_date = "%Y-%m-%d %H:%i";
        scheduler.config.time_step = 30;
        scheduler.config.multi_day = true;
        scheduler.locale.labels.section_subject = "Subject";
        scheduler.config.first_hour = 6;
        scheduler.config.limit_time_select = true;
        scheduler.config.details_on_dblclick = true;
        scheduler.config.details_on_create = true;

        @if (!User.IsInRole("Calendario-Admin")) {
             <text>scheduler.config.readonly = true;</text>
        }

        scheduler.templates.event_class = function(start, end, event) {
            var css = "";

            if (event.subject) // if event has subject property then special class should be assigned
                css += "event_" + event.subject;

            if (event.id == scheduler.getState().select_id) {
                css += " selected";
            }
            return css; // default return

        };
        scheduler.locale = {
            date: {
                month_full: [
                    "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho",
                    "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
                ],
                month_short: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                day_full: [
                    "Domingo", "Segunda-feira", "Ter&ccedil;a-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira",
                    "S&aacute;bado"
                ],
                day_short: ["D", "S", "T", "Q", "Q", "S", "S"]
            },
            labels: {
                dhx_cal_today_button: "Hoje",
                day_tab: "Dia",
                week_tab: "Semana",
                month_tab: "Mês",
                new_event: "Novo Evento",
                icon_save: "Salvar",
                icon_cancel: "Cancelar",
                icon_details: "Detalhes",
                icon_edit: "Editar",
                icon_delete: "Deletar",
                confirm_closing: "", //Your changes will be lost, are you sure?
                confirm_deleting: "O evento será excluído permanentemente, você tem certeza?",
                section_description: "Descrição",
                section_time: "Período de tempo"
            }
        }

        var subject = [
            { key: 'psp', label: 'Partage Shopping Parauapebas' },
            { key: 'pssg', label: 'Partage Shopping São Gonçalo' },
            { key: 'pscg', label: 'Partage Shopping Campina Grande' },
            { key: 'pnsn', label: 'Partage Norte Shopping Natal' },
            { key: 'psrg', label: 'Partage Shopping Rio Grande' },
            { key: 'psb', label: 'Partage Shopping Betim' },
            { key: 'psbm', label: 'Partage Shopping Mossoró' },
            { key: 'ph', label: 'Partage Holding' },
            { key: 'tds', label: 'Todos' }
        ];

        scheduler.config.lightbox.sections = [
            { name: "Titulo", height: 43, map_to: "text", type: "textarea", focus: true },
            { name: "Descrição", height: 43, map_to: "save", type: "textarea", focus: true },
            { name: "Shoppings", height: 40, type: "select", options: subject, map_to: "subject" },
            { name: "time", height: 72, type: "time", map_to: "auto" },
        ];

        scheduler.init('scheduler_here', new Date(), "week");
        scheduler.config.show_loading = true;
        scheduler.load("@Url.Action("Eventos", "Calendario")/" + $("#Empreendimento").val(), "json");

        scheduler.attachEvent("onEventChanged",
            function(id, ev) {
                var evento = ev;

                evento.start_date = moment(evento.start_date).format("DD/MM/YYYY HH:mm");
                evento.end_date = moment(evento.end_date).format("DD/MM/YYYY HH:mm");

                $.post("@Url.Action("Atualizar", "Calendario")",
                    evento,
                    function() {
                        scheduler.load("/Calendario/Eventos/" + $("#Empreendimento").val(), "json");
                    });
            });

        scheduler.attachEvent("onEventAdded",
            function(id, ev) {

                var evento = ev;

                evento.start_date = moment(evento.start_date).format("DD/MM/YYYY HH:mm");
                evento.end_date = moment(evento.end_date).format("DD/MM/YYYY HH:mm");

                $.post("@Url.Action("Adicionar", "Calendario")",
                    evento,
                    function() {
                        scheduler.load("/Calendario/Eventos/" + $("#Empreendimento").val(), "json");
                    });
            });

        scheduler.attachEvent("onConfirmedBeforeEventDelete",
            function(id, e) {
                $.post("@Url.Action("Excluir", "Calendario")/" + id);
                return true;
            });

        $("#btnBusca").click(function() {
            scheduler.clearAll();
            scheduler.load("/Calendario/Eventos/" + $("#Empreendimento").val(), "json");
        });

        $("#btnNovo").click(function() {
            var eventId = scheduler.addEvent();
            scheduler.showLightbox(eventId);
            return false;
        });
    </script>

}