@using Intranet.Data.Enums
@if (User.IsInRole(ViewBag.Tipo + "-Admin"))
{
    <a href="@Url.Action("Novo", "Documentos", new { tipo = ViewBag.Tipo })"><div class="buttoncolor btn-newlink"><i class="fa fa-plus-square" aria-hidden="true"></i>Novo arquivo</div></a>
}

<section class="content-normaseprocedimentos">
    <div class="mobile-filter buttoncolor"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar</div>
    <div class="bloco-filter">
        <div class="filters">
            <div class="container">
                <form action="/" method="post" id="frmBuscaDoc">
                    <div class="row">
                        <div class="col m5 s12">
                            <label for="">&nbsp @(ViewBag.Tipo + "--")</label>
                            <input type="text" name="Busca" id="palavrachave" placeholder="Palavra-chave">
                        </div>
                        <div class="col m2 s12">
                            <label for="">Empreendimento:</label>
                            @Html.DropDownList("Empreendimento", new SelectList(ViewBag.Empreendimentos, "Id", "Nome"), "Selecione")
                        </div>
                        @if (ViewBag.Tipo != TipoDocumento.ManualMarca)
                        {
                        <div class="col m2 s12">
                            <label for="">Categoria:</label>
                            @Html.DropDownList("Categoria", new SelectList(ViewBag.Categorias, "Id", "Nome"), "Selecione")
                        </div>
                        <div class="col m2 s12">
                            <label for="">Ordenar por:</label>
                            @Html.DropDownList("Ordenacao", EnumHelper.GetSelectList(typeof(Ordenacao)), "Selecione")
                        </div>
                        }
                        <div class="col m1 s12">
                            <label for="">&nbsp</label>
                            <button type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="divDoc" style="min-height: 400px;"></div>
</section>

@section scripts{
    <script src="~/js/documentos.js"></script>
    <script>
        documentos.init('@ViewBag.Tipo');
    </script>
}