@model IEnumerable<Intranet.Data.Entities.Diretoria>

<section class="content-diretoria">
    <div class="container">
        <div class="row">
            <div class="list-diretoria">
                @foreach (var item in ViewBag.Gerentes)
                {
                    <div class="col l4 m6 s12">
                        <div class="item">
                            <img src="~/Content/Diretoria/@item.Foto" alt="">
                            <div class="info">
                                <p class="title">@item.Nome</p>
                                <p class="subtit">@item.Cargo</p>
                                @*<p class="subtit">Nome do shopping</p>*@
                                <p>@item.Descricao</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<br />
<div class="top-inside">
  @*<a href="javascript:history.back();" class="btn-back"><i class="fa fa-angle-left" aria-hidden="true"></i></a>*@
    <div class="info">
        <p class="title">Shoppings</p>
        @*<div class="breadcrumb">
            <a href="@Url.Action("Index", "Home")">Home</a>
            <span>Shoppings</span>
        </div>*@
    </div>
</div>
<section class="content-diretoria">
    <div class="container">
        <div class="row">
            <div class="list-diretoria">
                @foreach (var item in ViewBag.Superintendentes)
                {
                    <div class="col l4 m6 s12">
                        <div class="item">
                            <img src="~/Content/Diretoria/@item.Foto" alt="">
                            <div class="info">
                                <p class="title">@item.Nome</p>
                                <p class="subtit">@item.Cargo</p>
                                @*<p class="subtit">Nome do shopping</p>*@
                                <p>@item.Descricao</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

