@model IEnumerable<Intranet.Data.Entities.LinkUtil>

@if (!Model.Any())
{
    <p>Nenhum link encontrado.</p>
}
else
{
    <p>Total de @Model.Count() links úteis</p>
    <div class="list-links">
        @foreach (var link in Model)
        {
            <div class="item">
                <div class="iconlink">
                    <i class="fa fa-link" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="title">@link.Titulo</p>
                    <p class="subtit">@link.Empreendimento.Nome</p>
                    <p>
                        @link.Descricao
                        <a href="@link.Url" target="_blank">@link.Url</a>
                    </p>
                </div>
                @if (User.IsInRole("LinksUteis-Admin"))
                {
                    <div class="edits">
                        <div class="icon-edits"></div>
                        <div class="subedit">
                            <div class="btnEditar" data-link="@Url.Action("Editar", "LinksUteis", new {link.Id})">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar
                            </div>
                            <div class="
                                 btnExcluir" data-link="@Url.Action("Excluir", "LinksUteis", new {link.Id})">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>Excluir
                            </div>
                        </div>
                    </div>
                }   
            </div>
        }
    </div>
    <div class="btn-carregarmais"><img src="~/images/btn-carregarmais.png" alt=""></div>

}