@using Intranet.Data.Entities
@using $safeprojectname$.Util
@model Noticia
<section class="content-noticias">
    <div class="info-interna">
        @if (User.IsInRole("Noticias-Admin"))
        {
            <div class="edits">
                <div class="icon-edits"></div>
                <div class="subedit">
                    <div class="btnEditar" data-link="@Url.Action("Editar", "Noticias", new {Model.Id})">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar
                    </div>
                    <div class="btnExcluir" data-link="@Url.Action("Excluir", "Noticias", new {Model.Id})">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>Excluir
                    </div>
                </div>
            </div>
        }
        <p class="date">@Model.Data.ToString("dd 'de' MMMM 'de' yyyy")</p>
        <p class="title">@Model.Titulo</p>
        <div class="category">@Model.Categoria.Nome</div>
        @if (!string.IsNullOrEmpty(Model.Imagem))
        {
            <img src="/Content/Noticias/@Model.Imagem" alt="@Model.Titulo">
        }
        @Html.Raw(Model.Texto)

        @if (!string.IsNullOrEmpty(Model.Arquivo))
        {
            <div class="anexos">
                <p><strong>Anexo</strong></p>
                <div class="list-news list-arquivos">

                        <div class="item">
                            <div class="topo">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                <p>@Html.TamanhoAnexoNoticia(Model.Arquivo)</p>
                            </div>
                            <div class="info">
                                <p>@Model.Data.ToString("dd 'de' MMMM 'de' yyyy")</p>
                                <p class="title">@Model.Arquivo</p>
                                <a href="@Url.Action("Download", new {arquivo = Model.Arquivo})"><button>download</button></a>
                            </div>
                        </div>
                </div>
            </div>
        }
    </div>
    @if (((IEnumerable<Noticia>)ViewBag.Recomendado).Any())
    {
        <h4>Recomendado</h4>
        <div class="list-news">
            @foreach (Noticia noticia in ViewBag.Recomendado)
            {
                <article @if (!string.IsNullOrEmpty(noticia.Imagem))
                         {
                             @Html.Raw("class='image' data-imagem='"+noticia.Imagem+"'");
                         }>
                    <a href="@Url.Action("Detalhes", "Noticias", new { id = noticia.Id })">
                        <div class="info">
                            <p class="date">@noticia.Data.ToString("dd 'de' MMMM 'de' yyyy")</p>
                            <p class="title">@noticia.Titulo</p>
                            <div class="category">@noticia.Categoria.Nome</div>
                        </div>
                    </a>
                </article>
            }
        </div>
    }
</section>
@section scripts{
    <script>
        $(".image").each(function() {
            $(this).css("background-image", "url('/Content/Noticias/" + $(this).data("imagem") + "')");
        });
    </script>
}