@model IEnumerable<Intranet.Data.Entities.Noticia>

@if (!Model.Any())
{
    <p>Nenhuma notícia encontrada.</p>
}
else
{
    <p>Total de @Model.Count() notícias</p>
    <div class="list-noticias">
        <div class="container">
            <div class="row">
                @foreach (var noticia in Model)
                {
                    <div class="col l3 m6 s12">

                        <article
                            @if (!string.IsNullOrEmpty(noticia.Imagem))
                            {
                                <text>class='image' data-imagem='@noticia.Imagem'</text>
                            }>
                            @if (User.IsInRole("Noticias-Admin"))
                            {
                                <div class="edits">
                                    <div class="icon-edits"></div>
                                    <div class="subedit">
                                        <div class="btnEditar" data-link="@Url.Action("Editar", "Noticias", new {noticia.Id})">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar
                                        </div>
                                        <div class="btnExcluir" data-link="@Url.Action("Excluir", "Noticias", new {noticia.Id})">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>Excluir
                                        </div>
                                    </div>
                                </div>
                            }
                            <a href="@Url.Action("Detalhes", "Noticias", new {id = noticia.Id})">
                                <div class="info">
                                    <p class="date">@noticia.Data.ToString("dd 'de' MMMM 'de' yyyy")</p>
                                    <p class="title">@noticia.Titulo</p>
                                    <div class="category">@noticia.Categoria.Nome</div>
                                </div>
                            </a>
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="btn-carregarmais"><img src="~/images/btn-carregarmais.png" alt=""></div>
}