@model IEnumerable<Intranet.Data.Entities.AlbumFoto>
@if (!Model.Any())
{
    <p>Nenhuma foto encontrada.</p>
}
else
{
    <div class="list-fotos">
        @foreach (var foto in Model)
        {
            <figure>
                <figcaption>
                    @if (User.IsInRole("Albuns-Admin"))
                    {
                        <div class="edits">
                            <div class="icon-edits"></div>
                            <div class="subedit">
                                <div class="btnEditar" data-link="@Url.Action("EditarFoto", "Albuns", new {foto.Id})">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar
                                </div>
                                <a href="@Url.Action("Download", "Albuns", new {foto = foto.Imagem})">
                                    <div>
                                        <i class="fa fa-download" aria-hidden="true"></i>Donwload
                                    </div>
                                </a>
                                <div class="btnExcluir" data-link="@Url.Action("ExcluirFoto", "Albuns", new {foto.Id})">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>Excluir
                                </div>
                            </div>
                        </div>
                    }
                    <a href="~/Content/Albuns/Fotos/@foto.Imagem" data-fancybox="g1">
                        <div class="info">
                            <p class="title">@foto.Legenda</p>
                            @if (!string.IsNullOrEmpty(foto.Credito))
                            {
                                <p>Crédito: @foto.Credito</p>
                            }
                        </div>
                    </a>
                </figcaption>
                <img src="~/Content/Albuns/Fotos/@foto.Imagem" alt="@foto.Legenda">
            </figure>
        }
    </div>
    <div class="btn-carregarmais"><img src="~/images/btn-carregarmais.png" alt=""></div>

}

<script type="text/javascript">

    $("[data-fancybox]").fancybox({
        // Options will go here
    });

    jQuery(function () {
        isotope.init();
    });
</script>