@using Intranet.Data.Enums
@model Intranet.Data.Entities.Curso
<section class="content-internas">
    <div class="info-interna">
        <form class="formulario-base" method="post" enctype="multipart/form-data" action="@Url.Action("Editar", "EducacaoContinuada")">
            @Html.HiddenFor(c => c.Id)
            @Html.HiddenFor(c => c.Midia)
            <div class="container">
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Nome)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextBoxFor(m => m.Nome)
                        @Html.ValidationMessageFor(m => m.Nome)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Categoria)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.DropDownListFor(m => m.Categoria, EnumHelper.GetSelectList(typeof(TipoCurso)))
                        @Html.ValidationMessageFor(m => m.Categoria)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m3 s12">
                        @Html.LabelFor(m => m.Midia, new { id = "labelMidia" })
                    </div>
                    <div class="arquivos-tipo-g">
                        <div class="tipos-arquivos" id="tipoMidia-0">
                            <div class="col l6 m6 s12">
                                <input type="text" id="Youtube" name="Youtube" placeholder="3EvHKMFpW5c">
                                <p class="txtriscado">
                                    Ex.: <span>https://www.youtube.com/watch?v=</span><strong>3EvHKMFpW5c</strong>
                                </p>
                            </div>
                            <div class="col l1 m1 s12">
                                @Html.LabelFor(m => m.TempoValidacao)
                            </div>
                            <div class="col l2 m2 s12">
                                @Html.TextBoxFor(m => m.TempoValidacao)
                            </div>
                        </div>
                        <div class="tipos-arquivos" id="tipoMidia-2" style="display: none;">
                            <div class="col l6 m6 s12">
                                @if (!string.IsNullOrEmpty(Model.Midia))
                                {
                                    <div class="legenda"><strong>Atual:</strong> <a target="_blank" href="~/Content/Treinamentos/@Model.Midia">@Model.Midia</a></div>
                                }
                                <input type="file" name="ArquivoAudio" id="ArquivoAudio" value="" accept=".mp3,.aac,.ogg">
                            </div>
                            <div class="col l1 m1 s12">
                                @Html.LabelFor(m => m.TempoValidacao)
                            </div>
                            <div class="col l2 m2 s12">
                                @Html.TextBoxFor(m => m.TempoValidacao)
                            </div>
                        </div>
                        <div class="tipos-arquivos" id="tipoMidia-1" style="display: none;">
                            <div class="col l9 s12">
                                @if (!string.IsNullOrEmpty(Model.Midia))
                                {
                                    <div class="legenda"><strong>Atual:</strong> <a target="_blank" href="~/Content/Treinamentos/@Model.Midia">@Model.Midia</a></div>
                                }
                                <input type="file" name="ArquivoFoto" id="ArquivoFoto" value="" accept=".jpg,.jpeg,.png,.gif">
                            </div>
                        </div>
                        <div class="tipos-arquivos" id="tipoMidia-3" style="display: none;">
                            <div class="col l9 s12">
                                <input data-val="true" data-val-url="O campo Link * não é uma URL http, https ou ftp totalmente qualificada." id="Midia" name="Midia" type="text" value="@Model.Midia">
                                <span class="field-validation-valid" data-valmsg-for="Midia" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Descricao)
                    </div>
                    <div class="col l9 m8 s12">
                        @Html.TextAreaFor(m => m.Descricao)
                        @Html.ValidationMessageFor(m => m.Descricao)
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        @Html.LabelFor(m => m.Ativo)
                    </div>
                    <div class="col l9 m8 s12">
                        <div class="list-check radio">
                            <div class="col l4 m12 s12">
                                <div class="item">
                                    <label for="Ativo">
                                        @Html.CheckBoxFor(m => m.Ativo) Ativo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botões -->
                <div class="list-botoes">
                    <button class="btn-form red" type="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>Salvar
                    </button>
                    <button class="btn-form" type="reset">
                        <i class="fa fa-times" aria-hidden="true"></i>Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts
{

    <script type="text/javascript" src="~/libs/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/libs/ckeditor/sample.js"></script>
    <script>
    initSampleDesc("Descricao");

        listcheck.init();

        var select = document.getElementById("Categoria");
        var formularios = document.querySelectorAll('.tipos-arquivos');

        select.onchange = function () {
            for (var i = 0; i < formularios.length; i++) formularios[i].style.display = 'none';
            var divID = select.options[select.selectedIndex].value;
            var div = document.getElementById("tipoMidia-" + divID);
            div.style.display = 'block';

            if (divID == "3") {
                $("#labelMidia").html("Link");
            } else {
                $("#labelMidia").html("Arquivo");
            }
        };

        $("#ArquivoFoto").change(function () {
            var fileExtension = [
                'jpg', 'jpeg', 'png', 'gif'
            ];
            var arquivos = $("#ArquivoFoto")[0].files;
            $.map(arquivos, function (val) {
                if ($.inArray(val.name.split('.').pop().toLowerCase(), fileExtension) == -1) {
                    swal('Oops...', 'São permitidos apenas os formatos: ' + fileExtension.join(', '), 'error');
                    $("#ArquivoFoto").val('');
                }
            });
        });

        $("#ArquivoAudio").change(function () {
            var fileExtension = [
                'mp3', 'aac', 'ogg'
            ];
            var arquivos = $("#ArquivoAudio")[0].files;
            $.map(arquivos, function (val) {
                if ($.inArray(val.name.split('.').pop().toLowerCase(), fileExtension) == -1) {
                    swal('Oops...', 'São permitidos apenas os formatos: ' + fileExtension.join(', '), 'error');
                    $("#ArquivoAudio").val('');
                }
            });
        });

        $(".tipos-arquivos").hide();

        $("#Categoria").val('@((int)Model.Categoria)');

        $("#tipoMidia-@((int)Model.Categoria)").show();

        @if (Model.Categoria == TipoCurso.Video)
        {
            <text>
        $("#Youtube").val('@Model.Midia');
            </text>
        }

    @if (Model.Categoria == TipoCurso.Link)
        {
            <text>
            $("#labelMidia").html("Link");
            </text>
        }
    </script>

}