@model IEnumerable<$safeprojectname$.Models.BuscaVm>
<section class="content-linksuteis" style="min-height: 500px;">
    @if (!string.IsNullOrEmpty(ViewBag.Mensagem))
    {
        <p>@ViewBag.Mensagem</p>
    }
    else
    {
        if (!Model.Any())
        {
            <p>Nenhum item encontrado.</p>
        }
        else
        {
            <p>Total de @Model.Count() links úteis</p>
            <div class="list-links">
                @foreach (var link in Model)
                {
                    <div class="item">
                        <a href="@link.Link">
                            <div class="iconlink">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <p class="title">@link.Titulo</p>
                                <p>
                                    @link.Area
                                </p>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="btn-carregarmais">
                <img src="~/images/btn-carregarmais.png" alt="">
            </div>
        }

    }
</section>
@section scripts{
    <script src="~/js/busca.js"></script>
    <script>
        busca.init();
    </script>
}