@using Intranet.UI.Util
@using Microsoft.AspNet.Identity
@model IEnumerable<Intranet.Data.Entities.Curso>

@if (!Model.Any())
{
    <p>Nenhum treinamento encontrado.</p>
}
else
{
    <p>Total de @Model.Count() itens</p>
    <div class="list-noticias">
        <div class="container">
            <div class="row">
                <ul class="list-edu">
                    <li data-edu="todos">
                        @foreach (var curso in Model)
                        {
                            <div class="col l3 m6 s12">
                                <article>
                                    @if (User.IsInRole("EducacaoContinuada-Admin"))
                                    {
                                        <div class="edits">
                                            <div class="icon-edits"></div>
                                            <div class="subedit">
                                                <div class="btnEditar" data-link="@Url.Action("Editar", "EducacaoContinuada", new {curso.Id})">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar
                                                </div>
                                                <div class="btnExcluir" data-link="@Url.Action("Excluir", "EducacaoContinuada", new {curso.Id})">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>Excluir
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <a href="@Url.Action("Treinamento", "EducacaoContinuada", new {id=curso.Id})">
                                        <div class="info">
                                            @if (curso.Realizado(User.Identity.GetUserId()))
                                            {
                                                <img src="~/images/icon-ok.png" alt="">                                                
                                            }
                                            <p class="title">@curso.Nome</p>
                                            <p class="txtcategory">
                                                Categoria<br>@Html.EnumDisplayNameFor(curso.Categoria)
                                            </p>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-carregarmais">
        <img src="~/images/btn-carregarmais.png" alt="">
    </div>
}